services:
  frontend:
    build: ./vue
    ports:
      - "80:80"
    depends_on:
      - backend
    networks:
      - app-network

  backend:
    build: ./cpp
    ports:
      - "8080:80"
    networks:
      - app-network

networks:
  app-network:
    driver: bridge