services:
  frontend:
    build: ./SE PLUSS PLUSS
    ports:
      - "80:80"
    depends_on:
      - backend
    networks:
      - app-network

  backend:
    build: ./vue
    ports:
      - "8080:8080"
    environment:
      - PORT=8080
    networks:
      - app-network

networks:
  app-network:
    driver: bridge